[package]
edition = '2018'
name = "lemon"
version = "0.1.0"
authors = ["Marc <marc.gluyas@gmail.com>"]
build = "build.rs"

[build-dependencies]
gl_generator = "0.11"

[dependencies]
glutin = "0.20"
cgmath = "0.17"
png = "0.14"
rand = "0.6"
bitflags = "1.0"
